<section class="features" id="features">
    <div class="about-us-heading" style="margin-bottom: 4rem; margin-top: 3rem;"><h2 style="color: #ED3737;"><b>FEATURES</b></h2></div>
        <div class="container feature-cont">
            <div class="row">
                <div class="featureContainer d-flex align-items-center justify-content-between">
                    <div class="feature-img uno col-lg-4 col-md-6 col-sm-12">
                        <img class="img1" src="assets/imgs/left.png" width=px>  
                    </div>
                    <div class="feature-img douze col-lg-4 col-md-6 col-sm-12">
                        <img class="img1" src="assets/imgs/midddle.png" width=px>  
                    </div>
                    <div class="feature-img trez col-lg-4 col-md-6 col-sm-12">
                        <img class="img1" src="assets/imgs/right.png" width=px>  
                    </div>
                </div>
            </div>
        </div>

</section>
