<section class="">
    <div class="about-us-heading" style="margin-top: 2rem;"><h2 style="color: #ED3737;"><b>ABOUT US</b></h2></div> 
    <div class="main-heading topbio" id="home"> 
        <div class="main-heading-text">
            <div class="text">
                <p style="margin-bottom: .7rem;"> Lorem ipsum, dolor sit amet consectetur 
                    adipisicing elit. Ratione possimus officiis nesciunt voluptatibus, tempore
                     quisquam magnam libero molestias iste quam ducimus dolore vero vitae minus. 
                     Consequuntur voluptatibus provident saepe vitae aperiam, quae fugiat quaerat 
                     harum debitis quia voluptatum iste libero quas labore molestias rem assumenda 
                     iure deserunt accusantium neque fugit possimus obcaecati ratione tenetur! Nemo
                      exercitationem itaque ea, omnis qui, atque, 
                    dolorum quas non sed iusto fugiat distinctio et laudantium.</p>
                    
            </div>
        </div>
        <div class="main-heading-imgs">
            <img class="img1" src="assets/imgs/grouped.png" width=500px>  
        </div>
    </div>   
   
  </section>