<section>
    <div class="testimonal">
            <div class="about-us-heading" style="margin-top: 4rem;"><h2 style="color: #ED3737; ">TESTIMONIALS</h2></div>              

            <div class="testimonials d-flex flex-column align-items-center justify-content-center">
                <div><h5>WHAT OUR CLIENTS SAY ABOUT US</h5></div>                   
                 
             
            </div>
        </div>  
        <div style="background: white;">

            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide><div class="testimonial-content d-flex flex-column align-items-center justify-content-between">
                    <div>
                        <img src="/assets/imgs/thumb2.png"  >
                    </div>
                    <div class="testimonial-title">
                        <h6>Jame Pattinson</h6>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus optio id ipsa. Nisi, modi. Nisi eum mollitia tempora. Architecto, assumenda!  </p>
                    </div>
                </div></ng-template>  
                <ng-template carouselSlide><div class="testimonial-content d-flex flex-column align-items-center justify-content-between">
                    <div>
                        <img src="/assets/imgs/thumb3.png"  >
                    </div>                            
                    <div class="testimonial-title">
                        <h6>Mariam Lesley</h6>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus optio id ipsa. Nisi, modi. Nisi eum mollitia tempora. Architecto, assumenda!  </p>
                    </div>
                </div></ng-template>  
                <ng-template carouselSlide> <div class="testimonial-content d-flex flex-column align-items-center justify-content-between">
                    <div>
                        <img src="/assets/imgs/thumb2.png"  >
                    </div>                            
                    <div class="testimonial-title">
                        <h6>Patrick Goodman</h6>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus optio id ipsa. Nisi, modi. Nisi eum mollitia tempora. Architecto, assumenda!  </p>
                    </div>
                </div></ng-template>  
                <ng-template carouselSlide><div class="testimonial-content d-flex flex-column align-items-center justify-content-between">
                    <div>
                        <img src="/assets/imgs/thumb4.png"  >
                    </div>                            
                    <div class="testimonial-title">
                        <h6>Mariam Lesley</h6>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus optio id ipsa. Nisi, modi. Nisi eum mollitia tempora. Architecto, assumenda!  </p>
                    </div>
                </div></ng-template>  
                <ng-template carouselSlide> <div class="testimonial-content d-flex flex-column align-items-center justify-content-between">
                    <div>
                        <img src="/assets/imgs/thumb3.png"  >
                    </div>                            
                    <div class="testimonial-title">
                        <h6>Alpha Beta</h6>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus optio id ipsa. Nisi, modi. Nisi eum mollitia tempora. Architecto, assumenda!  </p>
                    </div>
                </div></ng-template>  
              </owl-carousel-o>
        </div>
        
</section>