<footer>
    <div class="container">
      <div class="row">
        <div class="footer col-lg-12">

          <div class="footerLeft-All">
                <div class="footerleft1">
                    <h5>YEA<span style="color: #ED3737;font-size: 18px">TRAIN</span></h5>
                    <h6 class="para" style="margin-top: .7rem;">Services</h6>
                    <h6 class="para" style="margin-top: .7rem;">Features</h6>
                    <h6 class="para" style="margin-top: .7rem;">Privacy</h6>
                    <h6 class="para" style="margin-top: .7rem;">FAQ</h6>
                    <h6 class="para" style="margin-top: .7rem;">Contact Us</h6>
                </div>
                <div class="footerLeft">                    
                    <h5>GET IN TOUCH</h5>
                    <div class="footerLeftInfo">
                    <h6>Address:</h6>
                    <span> Rose Ajei Street, Accra, GA-074-3179</span>
                    </div>
    
                    <div class="footerLeftInfo">
                    <h6>Phone:</h6>
                    <span> +233 247 290 611 / +233 504 244 608</span>
                    </div>
    
                    <div class="footerLeftInfo">
                    <h6>Email:</h6>
                    <span>yeatrain@gmail.com</span>
                    </div>                      
                </div>
          </div>

          <div class="footerRight-All">
                <div class="footerRight">
                    <div class="footerIcons">
                        <a href="#"><i class="bi bi-github"></i> </a>
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-whatsapp"></i></a>
                        <a href="#"><i class="bi bi-linkedin"></i></a>
                    </div>
                    <div class="services">
                        <h6 style="margin-top: .5rem; font-weight: 200; font-size: 17px;">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Ullam officiis repellat 
                            libero beatae laborum ab iste sequi tempora cupiditate ut.
                        </h6>
                    </div>
                    
                </div>

                <div class="footRight1">
                    <h6 style="color: #3A86FF;">Join a newsletter</h6>
                    <div class="label-input" style="margin-bottom: 1.5rem;">
                        <label style="color: #CFD3D7; font-weight: 100; font-size: 12px;">Your Email</label>
                        <input type="text" placeholder="Enter your email" style="background: #4F5A68; padding: 1rem 2.5rem; border: none;">
                    </div>
                    <button style="background: #3A86FF; color: white; border: none; border-radius: 5px; padding: 1rem 2rem;">Subscribe</button>
                </div>
          </div>

        </div>
        <div>
          <p style="color: rgba(238, 238, 238, 0.685);font-size: 18px">
            Copyright &nbsp; <span style="color: #ED3737;">YEA</span>Train

          </p>
        </div>
      </div>
    </div>
</footer>