<section class="top">
    <div class="main-heading" id="home">
        <div class="main-heading-text">
            <div class="text">
                <div><img src="/assets/imgs/Frame.png"></div>
                <h2 style="color: #ED3737;">LET’S START YOUR PROFESSIONAL CAREER TOGETHER.</h2>
                <p style="margin-bottom: .7rem;"> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Saepe voluptas suscipit corrupti aliquid ab iste dolore accusantium quis?
                    Sit mollitia eos at, quibusdam a reiciendis accusantium voluptas eum porro
                    recusandae.</p>
                <a href="#" style="color: background: #7AB4E9; font: 20px; line-height: 23.44px;">Download Mobile app to
                    get started</a>
                <div  class="mainHeadingImg" style="margin-top: .7rem;">
                            <a href=""><img class="img1" src="assets/imgs/google.png" width=150px></a>  
                            <a href=""><img class="img1" src="assets/imgs/apple.png" width=150px></a>
                        </div>
            </div>
        </div>
        <div class="main-heading-imgs">
            <img class="img1" src="assets/imgs/heroImage1.png" width=500px>
        </div>
    </div>


    <div class="container" style="margin-bottom: 4rem;">
        <div class="row counter-row">
            <div class="counters">
                <app-counter [targetValue]="300" [speed]="97" [text]="'Trainees'" class="counter"></app-counter>
                <app-counter [targetValue]="100" [speed]="97" [text]="'Trainers'" class="counter"></app-counter>
                <app-counter [targetValue]="200" [speed]="97" [text]="'Courses'" class="counter"></app-counter>
            </div>
        </div>
    </div>

</section>