<section>
    <div class="container">
        <div class="row">
            <div class="feature-cards ">
                <div class="feature-card one col-lg-4 col-md-6 col-sm-12 d-flex flex-column align-items-center justify-content-center">
                    <h3 style="color: #ED3737;  margin-bottom: 1rem"><b>PROJECT OFFICIALS</b></h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque 
                        necessitatibus corrupti veritatis illum ut quasi sapiente! Obcaecati, 
                        laudantium! Totam unde sed eveniet perferendis similique! Ipsam doloribus, 
                        neque, perferendis accusantium praesentium, aut earum alias minima voluptate 
                        eaque fugiat pariatur illo laboriosam. Culpa officia inventore nobis dolorem 
                        eaque ipsum, ducimus quas minima. Aliquam saepe porro, nulla voluptate dolor 
                        commodi sequi eligendi error necessitatibus 
                        officiis labore ullam quod ducimus repudiandae deserunt recusandae dolore.</p>
                </div>
                <div class="feature-card two col-lg-4 col-md-6 col-sm-12 d-flex flex-column align-items-center justify-content-center">
                    <h3 style="color: #ED3737; margin-bottom: 1rem"><b>MASTER TRAINERS</b></h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque 
                        necessitatibus corrupti veritatis illum ut quasi sapiente! Obcaecati, 
                        laudantium! Totam unde sed eveniet perferendis similique! Ipsam doloribus, 
                        neque, perferendis accusantium praesentium, aut earum alias minima voluptate 
                        eaque fugiat pariatur illo laboriosam. Culpa officia inventore nobis dolorem 
                        eaque ipsum, ducimus quas minima. Aliquam saepe porro, nulla voluptate dolor 
                        commodi sequi eligendi error necessitatibus 
                        officiis labore ullam quod ducimus repudiandae deserunt recusandae dolore.</p>
                </div>
                <div class="feature-card three col-lg-4 col-md-6 col-sm-12 d-flex d-flex flex-column align-items-center justify-content-center">
                    <h3 style="color: #ED3737; margin-bottom: 1rem;"><b>TRAINERS</b></h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque 
                        necessitatibus corrupti veritatis illum ut quasi sapiente! Obcaecati, 
                        laudantium! Totam unde sed eveniet perferendis similique! Ipsam doloribus, 
                        neque, perferendis accusantium praesentium, aut earum alias minima voluptate 
                        eaque fugiat pariatur illo laboriosam. Culpa officia inventore nobis dolorem 
                        eaque ipsum, ducimus quas minima. Aliquam saepe porro, nulla voluptate dolor 
                        commodi sequi eligendi error necessitatibus 
                        officiis labore ullam quod ducimus repudiandae deserunt recusandae dolore.</p>
                </div>
            </div>
        </div>  
    </div>
</section>