<section class="forms" id="contact">
    <div class="about-us-heading" style="margin-bottom: 4rem; margin-top: 4rem"><h1 style="color: #ED3737;"><b>CONTACT</b></h1></div>
        <div class="container form-container">
            <div class="row">
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <div class="contactUs" >
                        <div class=" d-flex flex-column align-items-center justify-content-center info">
                            <img src="assets/imgs/email.png">
                            <p>yeatrain@gmail.com</p>
                        </div>
                        <div class=" d-flex flex-column align-items-center justify-content-center info bio">
                            <img src="assets/imgs/call.png">
                            <p>023 446 7889</p>
                        </div>
                        <div class=" d-flex flex-column align-items-center justify-content-center info">
                            <img src="assets/imgs/address.png">
                            <p>adabraka 968 33</p>
                        </div>
                    </div>

                    <div class="formDesign" style="width: 100%; margin-top: 3rem;">
                        <div class="form">
                            <div class="formDiv"><h1 style="color: #ED3737;"><b>Let's Talk!</b></h1></div>
                            <label>Name:</label>
                            <div>
                                <input class="formItem input" type="text">
                            </div>
                            <label>Email:</label>
                            <div>
                                <input class="formItem input" type="text">
                            </div>
                            <label>Message:</label>
                            <div class="formTextarea">
                                <textarea class="formItem" cols="45" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="form-img">
                            <img src="assets/imgs/group.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
</section>
